.ComboBox {
  display: inline-flex;
}

.ComboBox *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ComboBox *:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ComboBox .Button {
  border: 1px solid var(--blue-gray-600);
  border-left: 0;
}
